@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Mansalva:100,200,300,400,500,600,700');

.body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/*---------Header------*/

.row {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.container-fluid {
    margin: 0;
    padding: 0;
    height: auto;
}    

.container-title {
    font-family: 'Mansalva', sans-serif;
    text-align: center;
    font-size: 80px;
    color: #ffe007;
}


/*---------backgrounfd image------*/

.container-landing-page {
    padding: 0;
    margin: 0;
    height: 100vh;
    background: url("../images/blur-chef-cooking-2403392.jpg") no-repeat center fixed;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.events-bg {
    padding: 0;
    margin: 0;
    background: url("../images/anise-aroma-art-277253.jpg") no-repeat center fixed;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.quotes-bg {
    padding: 0;
    margin: 0;
    background: url("../images/adult-bar-blur-696218.jpg") no-repeat center fixed;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact-bg {
    padding: 0;
    margin: 0;
    background: url("../images/conference-learning-meeting-7095.jpg") no-repeat center fixed;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*---------Navbar------*/

.nav-link-logo {
    font-family: 'Mansalva', sans-serif;
    font-size: 25px;
    color: #ffe007;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.nav-link-logo:hover {
    color: #fff;
    text-decoration: none;
}

.nav-link {
    font-family: 'Mansalva', sans-serif;
    font-size: 25px;
    color: #fff;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffe007;
    margin-left: 30px;
    padding: 0px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;

}

.navbar-toggler-icon {
    color: #fff;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background: no-repeat center center;
    background-size: 100% 100%;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #ffe007;
    border: 1px solid transparent;
    border-radius: .25rem;
}

/*---------events------*/

.container-event {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #f6f6f0;
}

.event-heading {
    font-family: 'Mansalva', sans-serif;
    font-size: 60px;
    text-align: center;
    font-weight: 500;
    color: #ffe007;
}

.event-information {
    height: auto;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.event-photo {
    padding-bottom: 10px;
    padding-top: 20px;
    height: auto;
    display: inline-block;
    text-align: center;
}

.square {
    padding-bottom: 2.5px;
    padding-top: 2.5px;
}


 


/*---------quotes------*/

.quotes-container {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: auto;
}

.quotes-container-right {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 50%;
    height: auto;
}

/*---------contact us------*/

.contact-container-fluid {
    background-color: #ffe007; ;
}

.col {
    padding-left: 15px;
    padding-right: 20px;
}

.header { 
    font-family: 'Mansalva', sans-serif;
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
} 

form {
    text-align: center;
}

.form-container {
    display: inline-grid;
}

#fname,#lname,#email,#date,#event {
    width: 450px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #000;
}

.button-container {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}


/*---------Footer------*/

.container-footer {
    position: absolute;
    width: 100%;
    background-color: #37372F;
}

.list-inline-item {
    display: inline-table;
}

.logo-footer {
    font-family: 'Mansalva', sans-serif;
    font-size: 20px;
    color: #ffe007; ;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.logo-footer:hover {
    color: #fff;
    text-decoration: none;
}

.fab {
    margin-left:5px;
    margin-right: 5px;
    height: 32px;
    width: 32px;
    padding: 12px 0;
    border-radius: 50px;
    text-align: center;
    font-size: 15px;
    line-height: 7px;
    margin-top: 20px;
    color: #ffe007; ;
    background-color: #929290;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.fab:hover {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

/*---------media queries------*/

@media(max-width: 767px) {
    .logo-footer {
        display: none;
    }
    .list-inline.social-link {
        text-align: center;
    }
    .quotes-container {
        display: inline-grid;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .quotes-container-right {
        display: inline-grid;
        margin-left: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}