@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Mansalva:100,200,300,400,500,600,700');

.body {
    font-family: 'Roboto', sans-serif;
}

/*---------Header------*/

.container-title {
    font-family: 'Mansalva', sans-serif;
    font-size: 100px;
    color: #ffe007;
    text-align: center;
    margin-top: 50px;
    margin-left: 35px;
}

.container-header {
    height: 100vh;
    background: url("../images/blur-chef-cooking-2403392.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*---------Navbar------*/



.nav-link-logo {
    font-family: 'Mansalva', sans-serif;
    font-size: 20px;
    color: #fff;
    transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -webkit-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
}

a:hover {
    color: #ffe007;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin-left: 10px;
}

.dropdown-menu {
    color: #fff;
}